.accommodation {
  &.event {
    .box-title {
      .tag {
        max-width: 400px;
        // right: 10px;
      }
    }
  }

  &-content {
    padding: 0 80px;
    margin-bottom: 140px;
    @media (max-width: 991px) {
      padding: 0 24px;
      margin-bottom: 40px;
    }
    .box {
      &-global {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        @media (max-width: 991px) {
          grid-template-columns: 1fr;
          gap: 72px;
        }
      }

      &-button {
        width: max-content;
        grid-column: 2 / 3;
        margin-left: auto;
      }
    }
  }
  &.offer-sec {
    @media (max-width: 991px) {
      .box-global {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }
      .box-description {
        margin-top: 72px;
        margin-bottom: 40px;
      }
      .box-button {
        margin-left: 0;
      }
    }
  }

  &-slider {
    &__main {
      padding-left: 80px;
      @media (max-width: 991px) {
        padding-left: 24px;
      }

      .accommodation-card {
        .item-image {
          aspect-ratio: 411 / 515;
          @media (max-width: 991px) {
            aspect-ratio: 310 / 390;
          }
        }
      }

      .item {
        &-image {
          width: 100%;
          aspect-ratio: 503 / 336;
          position: relative;
          overflow: hidden;
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 1;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-tag {
          padding: 6px 16px;
          border-radius: 4px;
          background-color: var(--color-secondary);

          position: absolute;
          z-index: 2;
          bottom: 16px;
          left: 16px;
        }

        &-content {
          margin-top: 24px;

          .desc {
            max-width: 80%;
            margin-top: 16px;
          }
        }
      }
    }
  }
}
