.facility {
  padding: 140px 80px;
  background-color: var(--color-secondary);
  @media (max-width: 991px) {
    padding: 64px 24px;
  }
  &-top {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
    @media (max-width: 991px) {
      margin-bottom: 72px;
    }
  }
  &-bottom {
    display: flex;
    gap: 40px;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  .col-left {
    width: calc(7 / 12 * 100%);
    height: max-content;
    position: sticky;
    top: 80px;
    @media (max-width: 991px) {
      position: static;
      width: 100%;
      aspect-ratio: 327 / 540;
    }
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // min-height: 100vh;
  }
  .col-right {
    width: calc(5 / 12 * 100%);
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  &-description {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 40px;
    right: 40px;
    max-width: 570px;
    @media (max-width: 991px) {
      left: 32px;
      right: 32px;
      bottom: 32px;
    }
    h2 {
      margin-bottom: 32px;
    }
    a {
      width: max-content;
      &::before,
      &::after {
        background-color: var(--color-secondary);
      }
      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  &-box {
    width: 100%;
    aspect-ratio: 737 / 540;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    @media (max-width: 991px) {
      aspect-ratio: 327 / 540;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.8) 100%
      );
      z-index: 2;
      pointer-events: none;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media (max-width: 991px) {
      gap: 40px;
    }
  }
  &-img {
    width: 100%;
    aspect-ratio: 503 / 335;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;
    @media (max-width: 991px) {
      aspect-ratio: 327 / 220;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 3;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    h2 {
      margin-bottom: 16px;
    }
  }
}
