.footer {
  &-container {
    background-color: var(--color-primary);
    padding: 80px 80px 24px;
    background-image: url("../../images/use/artwork.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 991px) {
      padding: 40px 24px 48px;
    }
  }
  &-logo {
    display: block;
    width: 220px;
    aspect-ratio: 1;
    @media (max-width: 991px) {
      width: 150px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 3fr 6.5fr 2.5fr;
    gap: 0;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 48px;
    }
  }
  &-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 48px;
    }
    &-col {
      ul {
        li {
          a {
            &:hover {
              color: var(--color-secondary);
            }
          }
        }
      }
      &-title {
        margin-bottom: 32px;
        @media (max-width: 991px) {
          margin-bottom: 32px;
        }

        &.title-form {
          margin-bottom: 24px;
        }
      }
      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 56px;
        li {
          a {
            white-space: nowrap;
          }
        }
      }
      &-contact {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 991px) {
          gap: 16px;
        }
      }
    }
  }
  &-right {
    @media (min-width: 992px) {
      padding-left: 48px;
    }
  }
  &-top {
    padding-bottom: 26px;
    border-bottom: 1px solid var(--color-secondary);
    @media (max-width: 991px) {
      padding-bottom: 40px;
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  &-bct {
    @media (min-width: 992px) {
      padding-left: 48px;
    }
  }
  &-bottom {
    padding-top: 40px;
    &.footer-grid {
      @media (max-width: 991px) {
        gap: 24px;
      }
    }
    .global-button {
      @media (max-width: 991px) {
        max-width: 100%;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
  &-right {
    .social {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 24px 40px;
      margin-bottom: 40px;

      li {
        min-width: 12px;
      }
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
    }
    form {
      display: flex;
      align-items: flex-end;
      gap: 24px;
      .field {
        position: relative;
        color: var(--color-secondary);
        padding-bottom: 8px;
        flex: 1;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--color-secondary);
        }
      }
      input {
        outline: none;
        box-shadow: none;
        border: none;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
        width: 100%;
        &::placeholder {
          font-size: 16px;
          line-height: 24px;
          color: var(--color-secondary);
        }
      }
      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;

        path {
          transition: all 0.4s ease;
        }

        &:hover {
          background-color: var(--color-secondary);

          path {
            stroke: var(--color-primary);
          }
        }
      }
    }
  }
  &-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      width: max-content;
    }
  }
  &-headquarter {
    p {
      padding-right: 56px;
      @media (max-width: 991px) {
        padding-right: 0;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 32px;
      @media (max-width: 991px) {
        margin-top: 40px;
        flex-wrap: wrap;
        gap: 16px 24px;
      }
      li {
        a {
          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
}
