#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transform: all 0.5s;
  &.hide-header {
    transform: translateY(-100%);
    transform: all 0.5s;
  }
}
.header {
  &-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 4px 80px;
    background-color: var(--color-white);

    @media (max-width: 991px) {
      padding: 4px 24px;
    }
  }
  &-lang {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .value-select,
    .dropdown-custom-item {
      text-transform: uppercase;
    }

    .dropdown-custom-menu {
      left: -20px;
    }

    .dropdown-custom-item {
      &:hover {
        span::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  &-menu {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 32px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
    &-logo {
      @media (max-width: 991px) {
        img {
          height: 40px;
        }
      }
    }
    &-col {
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 24px;
        li {
          &.menu-item-has-children {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 24px;
              background-color: transparent;
              bottom: -24px;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s ease;
            }
            &:hover {
              & > .sub-menu {
                clip-path: inset(0% 0% 0% 0%);
                opacity: 1;
                visibility: visible;
              }
              &::before {
                opacity: 1;
                visibility: visible;
              }
            }
            & > .sub-menu {
              position: absolute;
              display: flex;
              flex-direction: column;
              gap: 12px;
              width: 100%;
              bottom: -28px;
              transform: translateY(100%);
              background-color: var(--color-white);
              padding: 20px;
              will-change: clip-path;
              clip-path: inset(0% 0% 100% 0%);
              transition: all 0.4s;
              opacity: 0;
              visibility: hidden;
            }
          }
          a {
            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
  &-cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .global-button {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  &-sub-menu {
    position: fixed;
    left: 0;
    top: 48px;
    right: 0;
    height: calc(100svh - 48px);
    background-color: #fff1e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    will-change: clip-path;
    clip-path: inset(0% 0% 100% 0%);
    transition: all 0.4s;
    &.active {
      clip-path: inset(0% 0% 0% 0%);
    }
    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;
    }
    .sub-button-mobile {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: max-content;
      a {
        width: 100%;
        display: block;
        border-radius: 0;
        text-align: center;
        height: 48px;
      }
    }
  }
}
.hamburger {
  width: 19px;
  height: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  &::before {
    content: "";
    position: absolute;
    inset: -15px;
    background-color: transparent;
  }
  &.active {
    span {
      &:nth-child(1) {
        top: 4.5px;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: -10px;
      }
      &:nth-child(3) {
        top: 4.5px;
        transform: rotate(-135deg);
      }
    }
  }
  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--color-primary);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    border-radius: 2px;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 4.5px;
    }
    &:nth-child(3) {
      top: 9px;
    }
  }
}
