:root {
  --font-heading: "SVN-Domaine Display", sans-serif;
  --font-body: "SFU Futura", sans-serif;
  --font-tag: "Hermes", sans-serif;
  --color-primary: #820003;
  --color-secondary: #fff1e2;
  --color-white: #ffffff;
  --color-blue-cyan: #008dc4;
  --color-cream: #f0ecee;
}

body {
  font-family: var(--font-body);
  color: var(--color-primary);
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary);
  }
}

.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.font-tag {
  font-family: var(--font-tag);
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-white {
  color: var(--color-white);
}
.color-blue-cyan {
  color: var(--color-blue-cyan);
}
.h0-font {
  font-size: 80px;
  line-height: 80px;
  @media (max-width: 991px) {
    font-size: 28px;
    line-height: 32px;
  }
}
.h1-font {
  font-size: 24px;
  line-height: 32px;
}
.b0-font {
  font-size: 18px;
  line-height: 26px;
  @media (max-width: 991px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.b1-font {
  font-size: 16px;
  line-height: 24px;
}
.b2-font {
  font-size: 14px;
  line-height: 20px;
}
.fw-regular {
  font-weight: 400;
}
.font-tag {
  font-size: 48px;
  line-height: 40px;
}
.f40-56 {
  font-size: 40px;
  line-height: 56px;
}
.f48-1 {
  font-size: 48px;
  line-height: 1;
  @media (max-width: 991px) {
    font-size: 24px;
  }
}
.spacing-14x {
  height: 140px;
  @media (max-width: 991px) {
    height: 64px;
  }
}
.spacing-12x {
  height: 120px;

  @media (max-width: 991px) {
    height: 64px;
  }
}
.spacing-80 {
  height: 80px;
  @media (max-width: 991px) {
    height: 64px;
  }
}
.spacing-1x {
  height: 100px;
}
