<div class="header-container">
  <div class="header-lang">
    <div class="dropdown-custom">
      <div class="dropdown-custom-btn">
        <div class="value-select">
          <img src="./assets/images/use/flag-vn.svg" alt="" />
          <span>VI</span>
        </div>
        <div class="icon">
          <img src="./assets/images/use/ic-arrow-down.svg" alt="" />
        </div>
      </div>
      <div class="dropdown-custom-menu">
        <div class="dropdown-custom-item">
          <img src="./assets/images/use/flag-en.svg" alt="" />
          <span class="link-underline">EN</span>
        </div>

        <div class="dropdown-custom-item">
          <img src="./assets/images/use/flag-kr.svg" alt="" />
          <span class="link-underline">KR</span>
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="header-menu">
      <div class="header-menu-col left">
        <ul>
          <li>
            <a
              href="./accommodation.html"
              class="b1-font font-body color-primary text-uppercase link-underline"
              >lưu trú</a
            >
          </li>
          <li>
            <a
              href="./dining.html"
              class="b1-font font-body color-primary text-uppercase link-underline"
              >ẩm thực</a
            >
          </li>
          <li class="menu-item-has-children">
            <a
              href=""
              class="b1-font font-body color-primary text-uppercase link-underline"
              >tiện ích và dịch vụ</a
            >
            <ul class="sub-menu">
              <li>
                <a
                  href="./facility.html"
                  class="b1-font font-body color-primary text-uppercase link-underline"
                  >tiện ích</a
                >
              </li>
              <li>
                <a
                  href="./service.html"
                  class="b1-font font-body color-primary text-uppercase link-underline"
                  >dịch vụ</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="./index.html" class="header-menu-logo">
        <img src="./assets/images/use/logo-2.svg" alt="" />
      </a>
      <div class="header-menu-col right">
        <ul>
          <li>
            <a
              href="./event.html"
              class="b1-font font-body color-primary text-uppercase link-underline"
              >hội nghị & tiệc cưới</a
            >
          </li>
          <li>
            <a
              href="./offer.html"
              class="b1-font font-body color-primary text-uppercase link-underline"
              >ưu đãi</a
            >
          </li>
          <li>
            <a
              href="./destination.html"
              class="b1-font font-body color-primary text-uppercase link-underline"
              >điểm đến</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-cta">
    <div class="hamburger d-block d-lg-none" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a href="" class="global-button text-uppercase">
      <span>Đặt ngay</span>
    </a>
  </div>
</div>
<div class="header-sub-menu" id="header-sub-menu">
  <ul>
    <li>
      <a
        href="./index.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >trang chủ</a
      >
    </li>
    <li>
      <a
        href="./accommodation.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >lưu trú</a
      >
    </li>
    <li>
      <a
        href="./dining.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >ẩm thực</a
      >
    </li>
    <li>
      <a
        href="./facility.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >tiện ích</a
      >
    </li>
    <li>
      <a
        href="./service.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >dịch vụ</a
      >
    </li>
    <li>
      <a
        href="./event.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >hội nghị & tiệc cưới</a
      >
    </li>
    <li>
      <a
        href="./offer.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >ưu đãi</a
      >
    </li>
    <li>
      <a
        href="./destination.html"
        class="b1-font font-body color-primary text-uppercase link-underline"
        >điểm đến</a
      >
    </li>
  </ul>
  <div class="sub-button-mobile">
    <a href="" target="_blank" class="global-button text-uppercase">
      <span>Đặt ngay</span>
    </a>
  </div>
</div>
